body {
    width: 1500px;
    padding-left: 12rem;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    text-align: center;
    background-color: #2f4f4f;
    color: white;
    margin: 0;
    font-weight: 500;
}

div {
    background-color: #E8E6E1;
    margin-top: 1rem;
    padding: 1rem;
}

div#search {
    padding: 0.1rem;
}

input[type=text] {
    width: 350px;
    padding: 5px;
    margin-left: 1rem;
    font-size: 14px;
}

input[type=submit] {
    padding: 7px;
    background-color: #2CB1BC;
    color: white;
    border-radius: 2px;
    border: #E8E6E1;
    font-size: 14px;
}

select {
    width: 130px;
    padding: 5px;
    font-size: 14px;
}

h3 {
    text-align: center;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #0A6C74;
    width: 1396px;
    margin-right: 1000rem;
    margin-left: 0.1rem;
    font-weight: 400;
    color: white;
}

table {
    width: 1400px;
}

th.top {
    background-color: #DCEEFB;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

td {
    font-weight: 300;
    padding: 0;
    margin: 0;
}

td.title {
    font-style: italic;
}

button {
    padding: 5px 7px;
    border: 0.1px solid black;
    border-radius: 5px;
}

button.selected {
    background-color: #87EAF2;
}

img.painting {
    width: 100px;
}

table {
    text-align: left;
}

td, th {
    padding: 1rem 0rem;
}

div#submit {
    margin-top: 0.3rem;
}